* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color:white; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color:white;} /* Green */
.css {width: 80%; background-color: white;} /* Blue */
.js {width: 65%; background-color: white;} /* Red */
.php {width: 60%; background-color: white;} /* Dark Grey */
.python {width: 90%; background-color: white;} /* Dark Grey */
.java {width: 60%; background-color: white;} /* Dark Grey */
.c {width: 70%; background-color: white;} /* Dark Grey */
